<a href="https://colab.research.google.com/github/MonicaSaldias/Python_UTEC_F/blob/main/Laboratorio_de_ejercicios_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

Ejercicio 1

Crear una lista con los nombres de 5 bancos.

In [ ]:
bancos = ["BCP", "Interbank", "BBVA", "Scotiabank", "Citibank"]
print(bancos)

['BCP', 'Interbank', 'BBVA', 'Scotiabank', 'Citibank']

Ejercicio 2

Acceder al tercer banco de la lista.

In [ ]:
bancos[2]
print(bancos[2])

BBVA

Ejercicio 3

Agregar un nuevo banco a la lista.

In [ ]:
bancos.append("Banco Pichincha")

print(bancos)

['BCP', 'Interbank', 'BBVA', 'Scotiabank', 'Citibank', 'Banco Pichincha']

Ejercicio 4

Eliminar el segundo banco.

In [ ]:
del bancos[1]
print(bancos)

['BCP', 'BBVA', 'Scotiabank', 'Citibank', 'Banco Pichincha']

Ejercicio 5

Ordenar alfab√©ticamente los bancos.

In [ ]:
bancos.sort()
print(bancos)

['BBVA', 'BCP', 'Banco Pichincha', 'Citibank', 'Scotiabank']

# Condicionales IF, ELIF, ELSE

Ejercicio 1

Verificar si un cliente tiene ingreso > 3000.

In [ ]:
ingreso = float(input("coloque su ingreso mensual"))

if ingreso > 3000:
    print("cumple con el requisito de ingreso mensual")
else:
    print("no cumple con el requisito de ingreso mensual")

coloque su ingreso mensual3001
cumple con el requisito de ingreso mensual

Ejercicio 2

Evaluar edad para otorgar tarjeta de cr√©dito.

In [ ]:
edad = int(input("su edad"))
if edad >= 18:
    print("puede solicitar tarjeta de credito")
else:
    print("no puede solicitar tarjeta de credito")

su edad22
puede solicitar tarjeta de credito

Ejercicio 3

Evaluar un score de cr√©dito.

In [ ]:
if ingreso > 3000 and edad >= 18:
    print("puede solicitar tarjeta de credito")
else:
    print("no puede solicitar tarjeta de credito")

puede solicitar tarjeta de credito

Ejercicio 4

Verificar si una cuenta tiene saldo negativo.

In [ ]:
saldo = int(input("coloque su saldo"))
if saldo < 0:
    print("su cuenta tiene saldo negativo")
else:
    print("su cuenta no tiene saldo negativo")

coloque su saldo2000
su cuenta no tiene saldo negativo

Ejercicio 5

Comparar dos tasas de inter√©s.

In [ ]:
tasa_1 = float(input("coloque la tasa de interes 1: "))
tasa_2 = float(input("coloque la tasa de interes 2: "))

if tasa_1 > tasa_2:
    print("la tasa de interes 1 es mayor a la tasa de interes 2: ")
elif tasa_1 < tasa_2:
    print("la tasa de interes 1 es menor a la tasa de interes 2: ")
else:
    print("las tasas de interes son iguales")

coloque la tasa de interes 1: 0.05
coloque la tasa de interes 2: 0.1
la tasa de interes 1 es menor a la tasa de interes 2:

Ejercicio 6

Evaluar si un cliente tiene m√°s de 3 productos financieros.

In [ ]:
productos = int(input("coloque la cantidad de productos financieros que tiene: "))

if productos > 3:
    print("tiene mas de 3 productos financieros")
else:
    print("tiene menos de 3 productos financieros")

coloque la cantidad de productos financieros que tiene: 2
tiene menos de 3 productos financieros

Ejercicio 7

Determinar si un monto depositado supera los 10,000.

In [ ]:
monto_depositado = float(input("coloque el monto depositado: "))

if monto_depositado > 10000:
    print("el monto depositado supera los 10,000")
else:
  print("el monto depositado no supera los 10,000")

coloque el monto depositado: 11000
el monto depositado supera los 10,000

# **Diccionarios**

Ejercicio 1

Crear un diccionario con datos de un cliente.

In [ ]:
cliente = {
    "nombre": "Javier Paredes",
    "edad": 32,
    "saldo": 1000,
}
print(cliente)

{'nombre': 'Javier Paredes', 'edad': 32, 'saldo': 1000}

Ejercicio 2

Acceder al saldo del cliente.

In [ ]:
cliente["saldo"]
print(cliente["saldo"])

1000

Ejercicio 3

Modificar el saldo.

In [ ]:
cliente["saldo"] = 2000
print(cliente)

{'nombre': 'Javier Paredes', 'edad': 32, 'saldo': 2000}

Ejercicio 4

Agregar una nueva llave 'tarjeta_credito'.

In [ ]:
cliente["tarjeta_credito"] = True
print(cliente)

{'nombre': 'Javier Paredes', 'edad': 32, 'saldo': 2000, 'tarjeta_credito': True}

Ejercicio 5

Eliminar el nombre del cliente.

In [ ]:
del cliente["nombre"]
print(cliente)

{'edad': 32, 'saldo': 2000, 'tarjeta_credito': True}

# FOR

Ejercicio 1

Recorrer una lista de tasas de inter√©s.

In [34]:
tasa_interes = [0.05, 0.1, 0.2, 0.3, 0.5]
for tasa in tasa_interes:
    print(tasa)

0.05
0.1
0.2
0.3
0.5

Ejercicio 2

Sumar todos los saldos de una lista.

In [39]:
saldos = [1000, 2000, 3000, 4000, 5000]
suma_saldos = 0
for saldo in saldos:
    suma_saldos += saldo
print(suma_saldos)

15000

Ejercicio 3

Recorrer una lista de precios de productos ecommerce y aplicar descuento de 10%.

In [40]:
precio_producto = [100, 200, 300, 400, 500]
for precio in precio_producto:
    precio *= 0.9
    print(precio)

90.0
180.0
270.0
360.0
450.0

Ejercicio 4

Contar cu√°ntos productos tienen un precio mayor a 100.

In [41]:
productos = [90, 100, 200, 300, 400, 500]
contador = 0
for producto in productos:
    if producto > 100:
        contador += 1
print(contador)

4

Ejercicio 5

Recorrer campa√±as de marketing y mostrar su nombre.

In [42]:
marketing = ["cyber days", "cyber wow", "dia de la madre", "dia del padre", "hot sale"]
for campa√±a in marketing:
    print(campa√±a)

cyber days
cyber wow
dia de la madre
dia del padre
hot sale

Ejercicio 6

Recorrer un diccionario de clientes con saldo y mostrar solo los que tengan saldo > 2000.

In [48]:
saldo_clientes = {
    "Ana": 1000,
    "Nico": 2500,
    "Bren": 3000,
    "JR": 4000,
}
for cliente, saldo in saldo_clientes.items():
    if saldo > 2000:
        print(cliente, saldo)

Nico 2500
Bren 3000
JR 4000

Ejercicio 7

Recorrer una lista de emails de clientes y contar los que terminan en "@gmail.com".

In [51]:
mails = ["ana@gmail.com", "nico@hotmail.com", "bren@yahoo.com", "jr@gmail.com"]
contador = 0
for mail in mails:
    if mail.endswith("@gmail.com"):
        contador += 1
print(mails)

['ana@gmail.com', 'nico@hotmail.com', 'bren@yahoo.com', 'jr@gmail.com']

# Mini Proyecto

"Evaluador de Clientes Hipotecarios"

Contexto:
Un banco quiere evaluar a sus clientes para ofrecerles un nuevo cr√©dito hipotecario.
Cada cliente tiene datos como: nombre, ingreso mensual, deudas actuales y n√∫mero de productos contratados.

Objetivo:
1. Crear la base de datos de clientes usando un diccionario.
2. Usar for para recorrer todos los clientes.
3. Aplicar condicionales para clasificar:
   - "Elegible" si su ingreso anual es mayor a 36,000 soles, sus deudas son menores a 15,000 soles y tiene al menos 2 productos contratados.
   - "Requiere Evaluaci√≥n" si cumple solo algunas condiciones.
   - "No Elegible" si no cumple ninguna condici√≥n.
4. Mostrar el resultado bien formateado por cliente.

Instrucciones

1. Crea un diccionario llamado clientes con al menos 5 clientes.
2. Cada cliente tendr√°:
   - Nombre (str)
   - Ingreso mensual (float)
   - Deudas (float)
   - N√∫mero de productos contratados (int)
3. Calcula el ingreso anual (ingreso mensual √ó 12).
4. Usa un for para recorrer cada cliente.
5. Usa if, elif, else para clasificarlo en una de las tres categor√≠as.
6. Muestra en pantalla: Cliente: {nombre} - Resultado: {clasificaci√≥n}

# üî• Nivel extra:

1. Ingresa manualmente los clientes (input).
2. Calcula la diferencia absoluta (abs) entre ingreso anual y deudas.
3. Redondea (round) el ingreso anual al n√∫mero entero m√°s cercano.